{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">
          {{ title }}
        </a>
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" title="Download PDF" target="_blank" style="margin-left:0.3em; display:inline-block; vertical-align:text-bottom;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="#c00" style="vertical-align:middle;">
              <path d="M6 2a2 2 0 0 0-2 2v16a2
              2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6H6zm7
              7V3.5L18.5 9H13z"/>
            </svg>
          </a>
        {% endif %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
          <span class="sr-only">Permalink</span>
        </a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          {{ title }}
        </a>
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" title="Download PDF" target="_blank" style="margin-left:0.3em; display:inline-block; vertical-align:text-bottom;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="#c00" style="vertical-align:middle;">
              <path d="M6 2a2 2 0 0 0-2 2v16a2
              2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6H6zm7
              7V3.5L18.5 9H13z"/>
            </svg>
          </a>
        {% endif %}
      {% endif %}
    </h2>

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>
            {%- for author in post.authors -%}
              {%- if author.style == "bold_underline" -%}
                <strong><u>{{ author.name }}</u></strong>
              {%- else -%}
                {{ author.name }}
              {%- endif -%}
              {%- unless forloop.last -%}, {% endunless -%}
            {%- endfor -%},
            <i>{{ post.venue }}</i>,
            {{ post.date | default: "1900-01-01" | date: "%Y" }}
          </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.award %}
      {% if post.awardurl %}
        <p>🏆 <a href="{{ post.awardurl }}">{{ post.award }}</a></p>
      {% else %}
        <p>🏆 {{ post.award }}</p>
      {% endif %}
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description"><em>{{ post.excerpt | markdownify }}</em></p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        <em>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</em>
        <strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong>
      </p>
    {% endif %}
    
    {% if post.citation and post.paperurl and post.slidesurl and post.bibtexurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% elsif post.citation and post.paperurl and post.slidesurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.citation and post.paperurl and post.bibtexurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% elsif post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a></p>
    {% elsif post.citation and post.slidesurl and post.bibtexurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl}}">Download Bibtex</a></p>
    {% elsif post.citation and post.slidesurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.citation and post.bibtexurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% elsif post.paperurl and post.bibtexurl %}
      <p><a href=" {{ post.paperurl }} ">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% elsif post.slidesurl and post.bibtexurl %}
      <p><a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% elsif post.slidesurl %}
      <p><a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.bibtexurl %}
      <p><a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% endif %}

  </article>
</div>
